.App {
  text-align: center;
}

.title {
  margin-top: 36px;
}

.control {
  
}

.search {
  
}

.sort {
  
}

.list {

}

.item {

}

.footer {

}

/* Atomic */

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.dis-inb {
  display: inline-block;
}

.dis-in {
  display: inline;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.mar-t36 {
  margin-top: 36px;
}

.mar-t10 {
  margin-top: 10px;
}

.mar-l5 {
  margin-left: 5%;
}

.padd-18 {
  padding: 18px;
}